@media screen and (max-width: 460px) { 
	#icon-1 {
		width: 175px;
		height: 58px;
	}
	#icon-2 {
		height: 100px;
		width: 134px;
	}
}
/* 
  Donwloaded Font:
  https://befonts.com/ikaros-font.html
*/
@font-face {
    font-family: ikaros;
    src: url(fonts/Ikaros-Light.otf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: Ikaros-Regular;
    src: url(fonts/Ikaros-Regular.otf);
    font-style: normal;
    font-weight: 600;
}
* {
	font-family: "Ikaros-Regular";
	text-align: center; 
}
html, body {
  	margin: 0;
 	padding: 0;
}
.title {
	margin-top: 15px;
	width: 100%;
	height: auto;
	text-align: center;
}
.title h1 {
	font-size: 50px;
	font-family: "Ikaros-Regular";
}
.quote {
	height: auto;
	margin-top: 20px;
	margin-left: 15%;
	margin-right: 15%;
}
.nav-link {
	color: black;
	font-size: 20px;
}
.active {
	color: gray;
}
.col-lg-6 {
	padding-top: 15px;
}
.thin {
	font-family: "ikaros";
}
#ng-info {
	padding-top: 20px;
}
.footer {
	height: 30px;
}
.socialbtns {
  height: auto;
}
.socialbtns ul {
  text-align: center;
}
a {
    color: rgb(189,56,70);
    text-decoration: none;
    padding: 5px;
}
.socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
    text-decoration: none;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
    text-decoration-style: none;
}
a:hover {
    text-decoration: none;
    color: rgb(171,40,54);
}
